<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <!-- TODO THIS MUST BE CHANGE BEFORE DEPLOYMENT -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: localhost:3000 http://127.0.0.1:5500 http://127.0.0.1:3000 localhost:5500; script-src 'self' data: ; style-src 'self' data: ; img-src 'self' data: ; font-src 'self' data: ; connect-src 'self' ; media-src * ; object-src * ; form-action * ; sandbox allow-forms allow-same-origin allow-scripts allow-top-navigation allow-popups allow-pointer-lock;">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href="./resources/styles/bootstrap.min.css">
  <link rel="stylesheet" href="./resources/styles/plugins.min.css" />
  <link rel="stylesheet" href="./resources/styles/lato-webfont.min.css" />
  <link rel="stylesheet" href="./resources/styles/magnific-popup.min.css">
  <link rel="stylesheet" href="./resources/styles/style.min.css">
  <link rel="stylesheet" href="./resources/styles/responsive.min.css" />
</head>
<body>
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <div class='preloader'>
    <div class='loaded'>&nbsp;</div>
  </div>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                  aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                  <img src="./resources/images/sNinjaNav.png" alt="" />
              </a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="index.html">Home</a>
                  </li>
                  <li>
                      <a href="viewShifts.html">View Shifts</a>
                  </li>
                  <li class="active">
                      <a href="viewRecruits.html">View Recruits</a>
                  </li>
                  <li>
                      <a href="addShift.html">Shift Creator</a>
                  </li>
                  <li>
                      <a href="addRecruit.html">Add Recruit</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
  <!--Home page style-->
  <header id="home" class="home">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
          <div class="home-content sections">
            <h1>
              <span>Login:</span>
            </h1>
            <div>
              <p></p>
            </div>
            <h2>Not Registered?</h2>
            <h2>Speak to office manager to register</h2>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="dataView-area">
   
  </section>

  <!--Footer-->
  <footer id="footer" class="footer colorsbg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="copyright text-left">
            <p>Created by: Jerome Hurley | Powered by:
              <i class="fa fa-coffee"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="../controllers/loginController.js"></script>
  <script src="./resources/js/vendor/jquery.min.js"></script>
  <script src="./resources/js/vendor/bootstrap.min.js"></script>
  <script src="./resources/js/jquery.magnific-popup.js"></script>
  <script src="./resources/js/vendor/modernizr.min.js"></script>
  <script src="./resources/js/plugins.js"></script>
  <script src="./resources/js/main.js"></script>
</body>
</html>