extends layout
  <!--TODO-->
block content
  font(size='2')
    table.table.table-striped#myTable
      thead
        tr
          th Name
          th Quantity Ordered
          th Available Shipping
          th Price per product
      tbody
        each prod in productsList
          tr
            td= prod.name
            td= prod.qtyReq
            td= prod.nowAvailable
            td= prod.productPrice
  script.
    function previous(){
      window.location.href = '/order'
    }
  button(onclick='previous()') Return 